.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
    font-family: 'Lobster', cursive !important;

}
.NavigationItems a{
    color: #f3e0aa !important;
    font-size: 0.9rem;
}
.TitleMenu{
    color: #f3e0aa;
    font-size: 1.3rem;
}

@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
    }
    .TitleMenu {
        display: none;
    }
}